/* Generated with the help of LESS*/
/*General*/body {
  background: url("../images/crossword.png") repeat;
  font-family: 'Inder', sans-serif;
}
p, li, .btn {
  font-size: 16px;
}
.landingForm {
  color: white;
  margin-top: 40px;
  padding: 20px;
  background-color: #231f1f;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #110e0e;
  text-shadow: 1px 1px 2px #000;
}
.createUser {
  color: white;
  margin-top: 40px;
  padding: 20px;
  background-color: #231f1f;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #110e0e;
  text-shadow: 1px 1px 2px #000;
}
@media (max-width: 766px) {
  body {
    font-size: 18px;
  }
  .landingForm {
    border-radius: 0px;
    margin-top: 0;
  }
  .createUser {
    border-radius: 0px;
    margin-top: 0;
  }
  #user-info a {
    margin-top: 20px;
  }
}
table {
  margin: 10px;
  text-shadow: none;
}
th, td {
  padding: 5px;
}
footer {
  text-align: center;
}
#pos {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.main {
  margin-top: 30px;
  padding: 20px;
}
#menu-bar {
  background-color: #231f1f;
}
#menu-bar a {
  color: #b5b5b5;
  font-size: 20px;
}
#menu-bar ul li a {
  font-size: 16px;
}
#menu-bar ul li a:hover {
  background-color: #b12b2b;
  color: #231f1f;
}
.navbar-inverse {
  background: none;
  background-color: #231f1f;
}
#menu-bar .navbar-brand {
  color: #c8691b;
}
/*Profile page*/
.content-box {
  background-color: #ececec;
  color: #c8691b;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  /*text-shadow: 1px 1px 1px #000;*/

  box-shadow: 0px 0px 2px #414141;
}
.content-box p {
  padding-top: 20px;
}
.content-box img {
  margin: 10px;
  width: 100px;
}
.content-box h3 {
  padding-right: 20px;
}
.profile-info {
  font-size: 18px;
  color: #2b8db1;
  padding-left: 30px;
}
.stats {
  display: none;
}
#user-info {
  /*border-top: 40px solid @main-dark;*/

  /*background: url('../images/congruent_outline.png') repeat;*/

}
#user-info img {
  max-width: 100px;
  border: 2px solid white;
}
#dreamlog {
  background-color: #231f1f;
  /*border-left: 40px solid #ccc;*/

}
#dreamlog img {
  max-height: 106px;
  margin: auto;
}
#dreamlog ol li a {
  color: white;
}
.box {
  border-radius: 10px;
  background: url('../images/congruent_outline.png') repeat;
}
.box h4 {
  color: white;
}
/*Guide*/
#dream-tech ul li {
  font-size: 16px;
}
/*Edit post*/
#editPost {
  display: none;
}
#deletePost {
  display: none;
}
.background-box {
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}
